.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

html {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
    text-align: center;
    background-color: black;
    color: white;
}


#picture {
    width: 100%;
    border: 5px solid white;
}